
@{
    ViewBag.Title = "Login";
}

<br/>
<form action="/account/login?_userName=Adil" method="post" class="needs-validation" novalidate="novalidate">
    <div class="row">
        <button type="submit" class="btn btn-sm btn-success">Login</button>
    </div>
</form>


