@using AdventureWorks.Utilities
@model List<AdventureWorks.EF.Data.ProductCategory>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="row">
    @foreach (AdventureWorks.EF.Data.ProductCategory pc in Model)
    {
        <div class="col-sm-3 border-dark">
            <div class="card">
                <div class="card-header">@pc.Name</div>
                <div class="card-body">
                    <img src="" class="border"/>
                </div>
            </div>
        </div>
    }
</div>

<div class="row">
    @foreach (AdventureWorks.EF.Data.ProductCategory pc in Model)
    {
        <div class="col-sm-3 border-dark">
            <div class="badge">
                @pc.Name
            </div>
        </div>
    }
</div>